<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Jegybazár</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <app-navbar-item url="home" name="Home"></app-navbar-item>
        <app-navbar-item url="event/list" name="Események"></app-navbar-item>
        <app-navbar-item url="ticket/table" name="Jegyek"></app-navbar-item>
        <app-navbar-item url="about" name="Rólunk"></app-navbar-item>
        <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
          <app-navbar-item url="/user/login" name="Balépés"></app-navbar-item>
          <a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm" routerLink="/user/register" >Regisztráció</a>
        </ng-container>
        <ng-template #loggedInBlock>
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user">Profilom</a>
          <a class="nav-item nav-link" routerLinkActive="active" (click)="logout()">Kilépés</a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
