<alert *ngIf="submitSuccessAlert" type="success" dismissOnTimeout="5000"> Licit rögzítve</alert>

<alert *ngIf="submitErrorAlert" type="danger" >Szerverhiba!!!!!!!!!</alert>

<div class="row" *ngIf="displayBidStep; else bidWithValue">
  <div class="col-12">
    <a class="btn btn-primary text-light"
       (click)="onBidWithBidStep()"
    >Licit a következő legkisebb licittel: {{ticket.currentBid+ticket.bidStep}} Ft</a>
  </div>
  <div class="col-12">
    <a href="#" (click)="displayBidWithStep($event)">Saját licitérték megadása</a>
  </div>
</div>
<ng-template #bidWithValue>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <input formControlName="bid"
               [ngClass]="{'is-invalid':submitted && form.get('bid').invalid}"
               type="number"
               class="form-control"
               placeholder="Licitérték">
        <div class="invalid-feedback" *ngIf="form.get('bid').hasError('required')">
          Töltsd ki!!
        </div>
        <div class="invalid-feedback" *ngIf="form.get('bid').hasError('validateMinimumBid')">
          Nem elég!! Legalább {{ticket.currentBid + ticket.bidStep}} Ft kell!
        </div>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary text-light" role="button">Licitálok</button>
      </div>
    </div>
  </form>

</ng-template>
{{form.value | json}}
{{form.get('bid').errors | json}}

