<app-jumbotron>
  <h1 class="display-4 mb-4">Jegyek bárkitől, bárhol, bármikor!</h1>
  <p class="lead">Használd a Jegybazárt és csereberélj jegyeket a legjobb bulikra. Elfogyott? Az orrod elől vitték el az utolsót? Ne aggódj, irány a JegyBazár!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg mt-4 mb-0" routerLink="/event/list" role="button">Nézzük az eseményeket!</a>
  </p>
</app-jumbotron>
<div class="container">
  <div class="card-deck pt-5">
    <app-card class="col col-md-6 col-lg-4"></app-card>
    <app-card class="col col-md-6 col-lg-4"></app-card>
    <app-card class="col col-md-6 col-lg-4"></app-card>
  </div>
</div>
