<ng-container *ngIf="(ticket$ | async) as ticket; else loading">
  <div class="container">
    <div class="row">
        <div class="col-sm order-md-2">

          <app-event-card [esemeny]="ticket.event" nextLabel="Esemény megtekintése"></app-event-card>

        </div>

        <div class="col-sm-12 col-md-8">

          <app-ticket-detail-card [ticket]="ticket" [loading]="progressRefreshTicket"></app-ticket-detail-card>
          <app-licit-card [isLoggedIn]="isLoggedIn$ | async"
                          [ticket]="ticket"
                          (bid)="onBid()"
          ></app-licit-card>

        </div>
    </div>
  </div>
  <app-chat-chat-window *ngIf="isLoggedIn$ | async" [roomId]="ticket.id"></app-chat-chat-window>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
